html {
    font-family: 'Bebas Neue', cursive;
}

header {
    background-image: url(../image/newsactualités2.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5D943D;
    font-size: 50px;
    border-radius: 5px;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #5D943D;
    list-style-type: none;
    margin: 0;
    height: 60px;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

input {
    background-color: #000000;
    color: #5D943D;
    font-size: 18px;
    border-radius: 7px;
    padding: 5px;
}

#home {
    font-size: 80px;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
    border-radius: 15px;
    background-color: #5D943D;
}

.lineContainer {
    display: flex;
}

img {
    border-radius: 10px;
    height: 250px;
    width: 420px;
}

.block {
    display: flex;
    flex-direction: column;
    width: 33%;
    align-items: center;
    text-align: center;
}

.flexFooter{
    display: flex;
    padding: 35px;
    align-items: center;
    justify-content: center;
    background-color: #5D943D;
}
a:link{
    text-decoration: none;
}
a{
    color: #000000;
}
.icon{
    height: 50px;
    width: 50px;
}
#iconBurger {
    display: none;
}