html{
    font-family: 'Bebas Neue', cursive;
    background-color: #222222;
}
body{
    margin: 0;
}
header{
padding: 10px;
    background-color: #222222;
    color:#ffffff;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-header{
    text-align: start;
    width: 50%;
}
.logoCf{
    margin: 0;
    height: 350px;
    width: 350px;
    }

ul{ 
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    background-color: #222222;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    height: 60px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

input{
    /* background-color: #000000; */
    color: #222222;
    border-radius: 7px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    
}

#home{
    margin: 10px;
    padding: 10px;
    text-align: center;
    background-color: #fe0000;
    border-radius: 10px;
    font-size: 17px;
    color: #f2f2f2;
    border : solid 2px #f2f2f2;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

#home2{
    margin: 100px;
    padding: 10px;
    text-align: center;
    background-color: #222222;
    border-radius: 10px;
    font-size: 17px;
    color: #f2f2f2;
    border : solid 2px #f2f2f2;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.image{
    border: solid 2px #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-left: 225px;
    margin-top: 50px;
    height: 200px;
    width: 300px;
}

.red{
    color:  #B8202D;
}

.white{
    color: #f2f2f2;
}

.gold{
    color: #a58d4e;
}

.blue{
    color: #0073b9;
}

.yellow{
    color: #E5AA1B;
}

.orange{
    color: #F8813F;
}

img{
    margin-left: 225px;
    margin-top: 50px;
    border-radius: 5px;
}
.lineContainer1{
    display: flex;
}
.lineContainer2{
    display: flex;
}

.paragraphe{
    margin-left: 225px;
    text-align: center;
    font-size: 25px;
    color: #f2f2f2;
}

.flexFooter{
    display: flex;
    padding: 35px;
    align-items: center;
    justify-content: center;
    background-color: #222222;
    border-top: solid 2px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
}
a:link{
    text-decoration: none;
}
a{
    color: #f2f2f2;
}
.icon{
    height: 50px;
    width: 50px;
}

#iconBurger{
    display: none;
}

@media screen and (max-width: 480px) {
    #iconBurger{
        display: block;
    }

    nav ul li a{
        display: none;
    }

    #home {
        margin: 10px;
    }

    #container{
        flex-direction: column;
    }
    .block{
        width: 100%;
    }
    .containerFooter{
        margin: 10px;
    }
    .icon{
        height: 30px;
        width: 30px;
    }
    
}
