html{
    font-family: 'Bebas Neue', cursive;
    background-color: #222222;
}

body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #f2f2f2;
    padding: 10px;
    font-size: 50px;
}

.content-header{
    text-align: start;
    width: 50%;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoCf{
    margin: 0;
    height: 350px;
    width: 350px;
}

ul {
    border-top: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    height: 60px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    color: #f2f2f2;
    padding: 10px 0px;
}

/*Reset CSS*/

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    font-size: 20px;
    
}

nav a:hover{
    color: #fe0000;
    border-bottom: 2px solid #fe0000;
}

.sous{
    display: none;
    background-color: #222222;
    position: absolute;
    width: 100%;
}

nav > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}

input{
    color: #222222;
    border-radius: 7px;
    padding: 5px;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
}

#home{
    text-align: center;
    color: #f2f2f2;
    font-size: 50px;
    background-color: #fe0000;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    border-radius: 10px;
    border: solid #f2f2f2 2px;
}

.gold{
    color: #a58d4e;
}

.red{
    color: #B8202D;
}

.blue{
    color: #0073b9;
}

.yellow{
    color: #E5AA1B;
}

.orange{
    color: #f8813f;
}

.black{
    color: #222222;
}

.lineContainer1{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.lineContainer2{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.lineContainer3{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.image{
    height: 300px;
    width: 550px;
    border-radius: 10px;
    border: solid 2px #f2f2f2;
}

.paragraphe{
    text-align: center;
    font-size: 25px;
    color: #f2f2f2;
}

.flexFooter{
    text-align: center;
    border-bottom: solid 2px #f2f2f2;
    border-top: solid 2px #f2f2f2;
}

a:link{
    text-decoration: none;
}

a{
    color: #f2f2f2;
}

.icon{
    height: 50px;
    width: 50px;
}

.icone{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width : 375px){
    .logoCf{
        margin: 0;
        height: 200px;
        width: 200px;
    }

    header{
        display: block;
        /* Pour mettre les éléments les uns au dessus des autres */
        font-size: 15px;
    }

    .content-header{
        text-align: center;
        width: 100%;
    }

    .image{
        border: solid 2px #f2f2f2;
        border-radius: 5px;
        /* padding: 10px; */
        margin-left: 0;
        margin-top: 50px;
        height: 170px;
        width: 300px;
    }

    ul{
        border-top: solid 2px #f2f2f2;
        border-bottom: solid 2px #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        background-color: #222222;
        height: 60px;
    }

    nav ul li a{
        color: #f2f2f2;
        text-decoration: none;
        font-size: 15px;
    }

    form{
        display: none;
    }

    li{
        padding-right: 8px;
    }

    .lineContainer1{
        display: block;
        text-align: center;
    }

    .lineContainer2{
        display: block;
        text-align: center;
    }

    .lineContainer3{
        display: block;
        text-align: center;
    }

    .paragraphe{
        margin-left: 30px;
        margin-right: 30px;
        padding: 10px;
        font-size: 20px;
    }

    #home{
    text-align: center;
    color: #f2f2f2;
    font-size: 25px;
    background-color: #fe0000;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    border-radius: 10px;
    border: solid #f2f2f2 2px;
    }

    .flexFooter{
        display: block;
        padding: 0;
        text-align: center;
        border-top: solid 2px #f2f2f2;
        border-bottom: solid 2px #f2f2f2;
    }
}